<ion-content [fullscreen]="true" class="splash-content">
  <div class="splash-container" [class.show]="showContent">

    <!-- Logo SyServ - Animación completa -->
    <div class="logo-animation">

      <!-- Grupo de flechas que forman el logo -->
      <div class="arrows-group" [class.click-effect]="clickEffect">

        <!-- Flecha izquierda (morada oscura) - chevron completo -->
        <div class="arrow arrow-left">
          <svg viewBox="0 0 60 100" xmlns="http://www.w3.org/2000/svg">
            <polygon points="60,10 10,50 60,90 45,90 5,50 45,10" fill="#5B2C91"/>
          </svg>
        </div>

        <!-- Diamante central (morada clara) -->
        <div class="arrow arrow-center">
          <svg viewBox="0 0 50 100" xmlns="http://www.w3.org/2000/svg">
            <polygon points="25,15 40,50 25,85 10,50" fill="#9B7BB5"/>
          </svg>
        </div>

        <!-- Flecha derecha (azul) - chevron completo -->
        <div class="arrow arrow-right">
          <svg viewBox="0 0 60 100" xmlns="http://www.w3.org/2000/svg">
            <polygon points="0,10 50,50 0,90 15,90 55,50 15,10" fill="#6B8AC9"/>
          </svg>
        </div>

      </div>

      <!-- Texto SyServ -->
      <div class="syserv-text" [class.show-text]="showText">
        <h1>SyServ</h1>
      </div>

    </div>

  </div>
</ion-content>
